{
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*.jsonc"],
      "options": {
        "trailingComma": "none"
      }
    }
  ],
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-organize-imports"]
}
